* {
    margin: 0;
    padding: 0;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.barra-menu {
    padding-top: 20px;
}

.menu-comandi {
    width: 45%;
    padding-left: 100px;
}

.login {
    display: inline-block;
    padding-right: 150px;
}

.main-content-header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.buttons-header {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.white {
    color: white;
}

ul>li {
    list-style-type: none;
    display: inline-block;
}

ul.menu-comandi li {
    margin-right: 20px;
    font-size: 12px;
    vertical-align: bottom;
}

.column {
    height: 450px;
    padding: 60px 150px;
}

.column img {
    max-width: 450px;
}

.section-text {
    width: 30%;
    height: 100%;
}

.section-canale-tematico-img,
.section-canale-community-img {
    width: 50%;
    margin-right: 150px;
}

.section-canale-vocale-img {
    width: 50%;
    margin-left: 150px;
}

.column h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 35px;
    margin: 20px 0;
}

#logo {
    padding-left: 100px;
}

#header-title {
    margin-bottom: 30px;
    font-size: 2em;
}

#header-p {
    margin-bottom: 20px;
    line-height: 25px;
}

#button-discord {
    background-color: black;
    margin-left: 15px;
}

#button-login {
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
